.about {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 3s ease;
  overflow: hidden;
  h1 {
    position: relative;
    letter-spacing: 10px;
    text-align: center;
    font-size: $title_font;
    color: color(background);
    cursor: pointer;
    span {
      color: white;
      margin-left: 3rem;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 8px;
      background-color: color(background-light);
      border-radius: 4px;
      transition: 800ms;
      transition-timing-function: $timefunction;
    }

    &::after {
      bottom: 0;
      left: 0;
      transform: translateX(200%);
    }

    &::before {
      transform: translateX(-200%);
    }

    &:hover {
      &::after {
        transform: translateX(0);
      }
      &::before {
        transform: translateX(0);
      }
    }
  }
}

.who {
  background-image: url("/Assets/img/bg-who.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-template-areas:
    "title"
    "text";
  h3 {
    grid-area: title;
    font-size: $title_font;
    color: #1a4858ff;
    text-shadow: 3px 3px 0px white;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
  }
  .text {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "image text";
    gap: 10px;
    p {
      position: relative;
      grid-area: text;
      padding: 2rem 4rem;
      border-radius: 4px;
      background-color: white;
      align-self: flex-start;
      font-size: 3.2rem;
      text-align: justify;
      text-shadow: 1px 1px white;
      color: color(font);
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 3rem;
        left: -1.5rem;
        height: 6rem;
        width: 6rem;
        background-color: white;
        transform: rotate(45deg);
        z-index: -1;
      }
    }
  }
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: $title_font;
    margin: 0;
  }

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .box {
      width: 50%;
      background-color: color(space);
      padding: 1rem 2rem;
      margin: 1rem;
      border-radius: 10px;

      h5 {
        font-size: $title_font/3;
        margin: 0;
        span {
          color: color(focus);
        }
        i {
          margin-right: 5px;
        }
      }

      p,
      a {
        font-size: $title_font/6;
        color: color(font);
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        position: relative;
        span {
          font-weight: 100;
        }
        &::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: color(focus);
          border-radius: 50%;
          left: -40px;
        }
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .focus-text {
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      &:nth-child(odd) {
        align-self: flex-end;
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem 1rem;
    .card {
      width: 100%;

      img {
        display: block;
        width: 30%;
        margin: 1rem auto;
      }
      p {
        font-size: $title_font/4;
        font-weight: 100;
        text-align: center;
        a {
          color: color(background-dark);
        }
      }
    }
  }
}

@include smarthphone {
  .container {
    background-color: white;
  }
  .about {
    max-width: 100%;
    max-height: 80vh;
    .bg {
      display: none;
    }
    h1 {
      font-size: 4.2rem;
      margin: 0;
      span {
        margin: 0;
        color: color(background);
      }
    }
  }

  .who {
    background-image: none;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 3.8rem;
    }

    .text {
      width: 100%;
      display: block;
      p {
        padding: 1rem;
        margin: 0;
        font-size: 1.8rem;
      }
    }
  }

  .education {
    h3 {
      font-size: 3.2rem;
      text-align: center;
    }

    .education-content {
      .box {
        width: 90%;
        h5 {
          font-size: 2.4rem;
        }
      }
    }
  }

  .contact {
    .bg {
      display: none;
    }

    .content {
      display: flex;
      flex-direction: column;
    }
  }
}
