* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
}

@mixin smarthphone {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
