$colors: (
  primary: #06bee1,
  focus: #2bbc89,
  background: #48cae4,
  background-dark: darken(#48cae4, 40%),
  background-light: lighten(#48cae4, 20%),
  blanck: #f2f2f2,
  font: #040404,
  font-light: lighten(#040404, 60%),
  secondary: #346ac9,
  space: #d9e5f5,
);

$title_font: 9.6rem;
$timefunction: cubic-bezier(0.68, -0.6, 0.32, 1.6);

@function color($colorscheme) {
  @return map-get($map: $colors, $key: $colorscheme);
}
