@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");

* {
  box-sizing: border-box;
}

$colors: (
  primary: #06bee1,
  focus: #2bbc89,
  background: #48cae4,
  background-dark: darken(#48cae4, 40%),
  background-light: lighten(#48cae4, 20%),
  blanck: #f2f2f2,
  font: #040404,
  secondary: #346ac9,
  space: #d9e5f5,
);

@function color($colorscheme) {
  @return map-get($map: $colors, $key: $colorscheme);
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "Roboto";
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  .hamburger-menu {
    height: 5rem;
    width: 5rem;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2000;

    .bar {
      position: relative;
      width: 100%;
      height: 5px;
      border-radius: 2px;
      background-color: color(background-dark);
      transition: 1s ease;
      &::after,
      &::before {
        content: "";
        position: absolute;
        @extend .bar;
      }

      &::after {
        transform: translateY(-12px);
      }

      &::before {
        transform: translateY(12px);
      }
    }

    &:hover {
      .bar::before {
        transform: translateY(10px);
      }
      .bar::after {
        transform: translateY(-10px);
      }
    }

    &.active {
      .bar {
        transform: rotate(360deg);
        background-color: transparent;
        &::before {
          background-color: color(background-dark);
          transform: rotate(-45deg);
        }
        &::after {
          background-color: color(background-dark);
          transform: rotate(45deg);
        }
      }
    }
  }

  .navigation {
    width: 0%;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: color(background-light);
    z-index: 1000;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);

    ul {
      list-style: none;
      text-transform: uppercase;
      font-size: 3rem;
      text-align: center;
      li {
        margin-top: 2em;
        a {
          text-decoration: none;
          position: relative;
          color: #346ac9;
          border-bottom: 4px solid color(focus);
          transition: 0.3s;

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 6px;
            background-color: color(background-light);
            transition: 0.3s ease;
          }

          &::before {
            bottom: -2px;
            transform: translateX(-49%) translateY(2px);
          }

          &::after {
            bottom: -2px;
            left: 0;
            transform: translateY(2px) translateX(50%);
          }

          &:hover {
            color: color(focus);
          }

          &:hover::before {
            transform: translateY(4px) translateX(-100%);
          }

          &:hover::after {
            transform: translateY(4px) translateX(100%);
          }
        }
      }
    }

    &.active {
      width: 30%;
    }
  }
}

main {
  width: 100%;
  height: 100%;
  padding: 0;

  .bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: color(background);
    clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
    z-index: -1;
  }

  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "banner image";
    justify-items: center;
    align-items: center;

    .banner {
      width: 100%;
      grid-area: banner;
      padding: 2em 4em;
      h1 {
        font-size: 4.8rem;
        color: color(font);
        span {
          color: color(primary);
        }
      }
      p {
        font-size: 2.8rem;
        color: color(font);
        text-align: justify;
        margin-bottom: 2em;
      }
      a {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        background-color: color(background);
        color: color(blanck);
        padding: 1em 2em;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          top: -50px;
          left: -75px;
          width: 40px;
          height: 155px;
          background: white;
          opacity: 0.2;
          transform: rotate(35deg);
          transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover::after {
          left: 120%;
          transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }

    .lottie {
      width: 100%;
      grid-area: image;
    }
  }
}
