@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
}

html {
  font-size: 10px;
  font-family: "Roboto";
}

.hamburger-menu {
  height: 5rem;
  width: 5rem;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 2000;
}

.hamburger-menu .bar, .hamburger-menu .bar::after, .hamburger-menu .bar::before {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #0c4854;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.hamburger-menu .bar::after, .hamburger-menu .bar::before {
  content: "";
  position: absolute;
}

.hamburger-menu .bar::after {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.hamburger-menu .bar::before {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.hamburger-menu:hover .bar::before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hamburger-menu:hover .bar::after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hamburger-menu.active .bar, .hamburger-menu.active .bar::after, .hamburger-menu.active .bar::before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: transparent;
}

.hamburger-menu.active .bar::before {
  background-color: #0c4854;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger-menu.active .bar::after {
  background-color: #0c4854;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation {
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #a1e4f1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
          transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  overflow: hidden;
  z-index: 1000;
}

@media only screen and (max-width: 600px) {
  .navigation {
    width: 100%;
    height: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .navigation {
    width: 0%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation h1 {
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .navigation h1 {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
    color: #0c4854;
  }
}

@media only screen and (min-width: 1200px) {
  .navigation h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #f2f2f2;
  }
}

.navigation ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .navigation ul {
    position: absolute;
    left: 0;
    top: 2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .navigation ul li {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .navigation ul li {
    margin-top: 2em;
  }
}

.navigation ul li a {
  text-decoration: none;
  position: relative;
  color: #346ac9;
  border-bottom: 4px solid #2bbc89;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation ul li a::before, .navigation ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #a1e4f1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navigation ul li a::before {
  bottom: -2px;
  -webkit-transform: translateX(-49%) translateY(2px);
          transform: translateX(-49%) translateY(2px);
}

.navigation ul li a::after {
  bottom: -2px;
  left: 0;
  -webkit-transform: translateY(2px) translateX(50%);
          transform: translateY(2px) translateX(50%);
}

.navigation ul li a:hover {
  color: #2bbc89;
}

.navigation ul li a:hover::before {
  -webkit-transform: translateY(4px) translateX(-100%);
          transform: translateY(4px) translateX(-100%);
}

.navigation ul li a:hover::after {
  -webkit-transform: translateY(4px) translateX(100%);
          transform: translateY(4px) translateX(100%);
}

@media only screen and (max-width: 600px) {
  .navigation.active {
    height: 50vh;
  }
}

@media only screen and (min-width: 1200px) {
  .navigation.active {
    width: 30%;
  }
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .bg {
    background-color: #f2f2f2;
  }
}

@media only screen and (min-width: 1200px) {
  .bg {
    background-color: #48cae4;
    -webkit-clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
            clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "banner image";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .banner {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .main .banner {
    margin-top: 3rem;
    padding: 1em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1200px) {
  .main .banner {
    grid-area: banner;
    padding: 2em 4em;
  }
}

.main .banner h1 {
  font-size: 4.8rem;
  color: #040404;
}

.main .banner h1 span {
  color: #06bee1;
}

.main .banner p {
  font-size: 2.8rem;
  color: #040404;
  text-align: justify;
  margin-bottom: 2em;
}

.main .banner a {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #48cae4;
  color: #d9e5f5;
  padding: 1em 2em;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .main .banner a {
    position: absolute;
    bottom: 1rem;
  }
}

.main .banner a::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -75px;
  width: 40px;
  height: 155px;
  background: white;
  opacity: 0.2;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}

.main .banner a:hover::after {
  left: 120%;
  -webkit-transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (max-width: 600px) {
  .main .lottie {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .main .lottie {
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
  }
}

.skills {
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .skills {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .skills {
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    gap: 5px;
  }
}

.skills .skill-card {
  border-radius: 10px;
  padding: 20px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
          transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .skill-card .logo {
  width: 20%;
  margin-right: 2rem;
}

.skills .skill-card .logo img {
  width: 100%;
}

.skills .skill-card .info {
  width: 80%;
}

.skills .skill-card .info h5 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-right: 10px;
  position: relative;
  color: #040404;
}

.skills .skill-card .info h5::before, .skills .skill-card .info h5::after {
  content: "";
  position: absolute;
  top: 3.4rem;
  left: 0;
  width: 100%;
  height: 2.4rem;
  -webkit-box-shadow: 0px 0px 4px -1px #0c4854;
          box-shadow: 0px 0px 4px -1px #0c4854;
  border-radius: 8px;
}

.skills .skill-card .info h5::after {
  left: -0.1rem;
  width: calc(1% * var(--p));
  background: -webkit-gradient(linear, left top, right top, from(#346ac9), to(#2bbc89));
  background: linear-gradient(90deg, #346ac9 0%, #2bbc89 100%);
}

.skills .skill-card .info h5 span {
  position: absolute;
  top: 20%;
  margin-left: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9d9d9d;
}

.skills .skill-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner-works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-works h1 {
  position: relative;
  font-size: 9.6rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: #f2f2f2;
  -webkit-box-shadow: 0px 27px 18px -18px #0c4854;
          box-shadow: 0px 27px 18px -18px #0c4854;
}

.banner-works h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  border-radius: 4px;
  background-color: #d9e5f5;
}

.banner-works h1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner-works::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  -webkit-transition: -webkit-clip-path 2.5s;
  transition: -webkit-clip-path 2.5s;
  transition: clip-path 2.5s;
  transition: clip-path 2.5s, -webkit-clip-path 2.5s;
  -webkit-clip-path: circle(25%);
          clip-path: circle(25%);
  border-radius: 15px;
  background-color: #2bbc89;
}

.banner-works:hover::before {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project .title h2 {
  position: relative;
  text-align: center;
  font-size: 3.6rem;
  color: #040404;
}

.project .title h2::before, .project .title h2::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  background-color: #040404;
  border-radius: 2px;
}

.project .title h2::before {
  bottom: 0;
}

.project .title h2::after {
  bottom: -10px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.project .pictures {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem auto;
}

.project .pictures img {
  width: 30%;
  border-radius: 4px;
}

.project .pictures img:nth-child(2) {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1000;
}

.project .info {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .info .description {
  width: 75%;
}

.project .info .description p {
  font-size: 1.8rem;
  text-align: justify;
}

.project .info .description p:nth-child(1) span {
  color: #9d9d9d;
}

.project .info .description a {
  width: 50%;
  display: block;
  height: 4rem;
  border-radius: 5px;
  background-color: #2bbc89;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #d9e5f5;
}

.project .info .tools {
  width: 20%;
}

.project .info .tools h3 {
  font-size: 3.2rem;
}

.project .info .tools ul {
  background-color: #d9e5f5;
  border-radius: 10px;
  padding: 1rem 2rem;
  list-style: none;
}

.project .info .tools ul li {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project .info .tools ul li::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #2bbc89;
  border-radius: 50%;
  margin-right: 1rem;
}

.project .info .tools ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .banner-works {
    width: 100%;
    height: 200px;
    margin-bottom: 4rem;
  }
  .banner-works::before {
    display: none;
  }
  .banner-works h1 {
    color: #2bbc89;
  }
  .project {
    margin-bottom: 3rem;
  }
  .project .title h2::before, .project .title h2::after {
    display: none;
  }
  .project .pictures {
    background-color: red;
    margin: 0 auto;
    width: 80%;
    z-index: 1;
  }
  .project .pictures img {
    width: 100%;
  }
  .project .pictures img:nth-child(1), .project .pictures img:nth-child(3) {
    display: none;
  }
  .project .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .info .description {
    width: 100%;
  }
  .project .info .description a {
    width: 100%;
  }
  .project .info .tools {
    width: 100%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 3s ease;
  transition: 3s ease;
  overflow: hidden;
}

.about h1 {
  position: relative;
  letter-spacing: 10px;
  text-align: center;
  font-size: 9.6rem;
  color: #48cae4;
  cursor: pointer;
}

.about h1 span {
  color: white;
  margin-left: 3rem;
}

.about h1::before, .about h1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #a1e4f1;
  border-radius: 4px;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
          transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.about h1::after {
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.about h1::before {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.about h1:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about h1:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.who {
  background-image: url("/Assets/img/bg-who.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem 1fr;
      grid-template-rows: 10rem 1fr;
      grid-template-areas: "title" "text";
}

.who h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-size: 9.6rem;
  color: #1a4858ff;
  text-shadow: 3px 3px 0px white;
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}

.who .text {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "image text";
  gap: 10px;
}

.who .text p {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
  padding: 2rem 4rem;
  border-radius: 4px;
  background-color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 3.2rem;
  text-align: justify;
  text-shadow: 1px 1px white;
  color: #040404;
  z-index: 1;
}

.who .text p::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: -1.5rem;
  height: 6rem;
  width: 6rem;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education h3 {
  font-size: 9.6rem;
  margin: 0;
}

.education-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.education-content .box {
  width: 50%;
  background-color: #d9e5f5;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 10px;
}

.education-content .box h5 {
  font-size: 3.2rem;
  margin: 0;
}

.education-content .box h5 span {
  color: #2bbc89;
}

.education-content .box h5 i {
  margin-right: 5px;
}

.education-content .box p,
.education-content .box a {
  font-size: 1.6rem;
  color: #040404;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.education-content .box p span,
.education-content .box a span {
  font-weight: 100;
}

.education-content .box p::before,
.education-content .box a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #2bbc89;
  border-radius: 50%;
  left: -40px;
}

.education-content .box a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.education-content .box .focus-text {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.education-content .box:nth-child(odd) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .content {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem 1rem;
}

.contact .content .card {
  width: 100%;
}

.contact .content .card img {
  display: block;
  width: 30%;
  margin: 1rem auto;
}

.contact .content .card p {
  font-size: 2.4rem;
  font-weight: 100;
  text-align: center;
}

.contact .content .card p a {
  color: #0c4854;
}

@media only screen and (max-width: 600px) {
  .container {
    background-color: white;
  }
  .about {
    max-width: 100%;
    max-height: 80vh;
  }
  .about .bg {
    display: none;
  }
  .about h1 {
    font-size: 4.2rem;
    margin: 0;
  }
  .about h1 span {
    margin: 0;
    color: #48cae4;
  }
  .who {
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .who h3 {
    font-size: 3.8rem;
  }
  .who .text {
    width: 100%;
    display: block;
  }
  .who .text p {
    padding: 1rem;
    margin: 0;
    font-size: 1.8rem;
  }
  .education h3 {
    font-size: 3.2rem;
    text-align: center;
  }
  .education .education-content .box {
    width: 90%;
  }
  .education .education-content .box h5 {
    font-size: 2.4rem;
  }
  .contact .bg {
    display: none;
  }
  .contact .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */