@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "Roboto";
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header .hamburger-menu {
  height: 5rem;
  width: 5rem;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 2000;
}

header .hamburger-menu .bar, header .hamburger-menu .bar::after, header .hamburger-menu .bar::before {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #0c4854;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

header .hamburger-menu .bar::after, header .hamburger-menu .bar::before {
  content: "";
  position: absolute;
}

header .hamburger-menu .bar::after {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

header .hamburger-menu .bar::before {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

header .hamburger-menu:hover .bar::before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

header .hamburger-menu:hover .bar::after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

header .hamburger-menu.active .bar, header .hamburger-menu.active .bar::after, header .hamburger-menu.active .bar::before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: transparent;
}

header .hamburger-menu.active .bar::before {
  background-color: #0c4854;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .hamburger-menu.active .bar::after {
  background-color: #0c4854;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .navigation {
  width: 0%;
  height: 100vh;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #a1e4f1;
  z-index: 1000;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
          transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

header .navigation ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

header .navigation ul li {
  margin-top: 2em;
}

header .navigation ul li a {
  text-decoration: none;
  position: relative;
  color: #346ac9;
  border-bottom: 4px solid #2bbc89;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navigation ul li a::before, header .navigation ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #a1e4f1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .navigation ul li a::before {
  bottom: -2px;
  -webkit-transform: translateX(-49%) translateY(2px);
          transform: translateX(-49%) translateY(2px);
}

header .navigation ul li a::after {
  bottom: -2px;
  left: 0;
  -webkit-transform: translateY(2px) translateX(50%);
          transform: translateY(2px) translateX(50%);
}

header .navigation ul li a:hover {
  color: #2bbc89;
}

header .navigation ul li a:hover::before {
  -webkit-transform: translateY(4px) translateX(-100%);
          transform: translateY(4px) translateX(-100%);
}

header .navigation ul li a:hover::after {
  -webkit-transform: translateY(4px) translateX(100%);
          transform: translateY(4px) translateX(100%);
}

header .navigation.active {
  width: 30%;
}

main {
  width: 100%;
  height: 100%;
  padding: 0;
}

main .bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #48cae4;
  -webkit-clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
          clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
  z-index: -1;
}

main .container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "banner image";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .banner {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: banner;
  padding: 2em 4em;
}

main .container .banner h1 {
  font-size: 4.8rem;
  color: #040404;
}

main .container .banner h1 span {
  color: #06bee1;
}

main .container .banner p {
  font-size: 2.8rem;
  color: #040404;
  text-align: justify;
  margin-bottom: 2em;
}

main .container .banner a {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #48cae4;
  color: #f2f2f2;
  padding: 1em 2em;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

main .container .banner a::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -75px;
  width: 40px;
  height: 155px;
  background: white;
  opacity: 0.2;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}

main .container .banner a:hover::after {
  left: 120%;
  -webkit-transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
}

main .container .lottie {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: image;
}
/*# sourceMappingURL=main.css.map */