@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
}

html {
  font-size: 10px;
  font-family: "Roboto";
}

.hamburger-menu {
  height: 5rem;
  width: 5rem;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 2000;
}

.hamburger-menu .bar, .hamburger-menu .bar::after, .hamburger-menu .bar::before {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #0c4854;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.hamburger-menu .bar::after, .hamburger-menu .bar::before {
  content: "";
  position: absolute;
}

.hamburger-menu .bar::after {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.hamburger-menu .bar::before {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.hamburger-menu:hover .bar::before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hamburger-menu:hover .bar::after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hamburger-menu.active .bar, .hamburger-menu.active .bar::after, .hamburger-menu.active .bar::before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: transparent;
}

.hamburger-menu.active .bar::before {
  background-color: #0c4854;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger-menu.active .bar::after {
  background-color: #0c4854;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation {
  width: 0%;
  height: 100vh;
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #a1e4f1;
  z-index: 1000;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
          transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

.navigation ul li {
  margin-top: 2em;
}

.navigation ul li a {
  text-decoration: none;
  position: relative;
  color: #346ac9;
  border-bottom: 4px solid #2bbc89;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation ul li a::before, .navigation ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #a1e4f1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navigation ul li a::before {
  bottom: -2px;
  -webkit-transform: translateX(-49%) translateY(2px);
          transform: translateX(-49%) translateY(2px);
}

.navigation ul li a::after {
  bottom: -2px;
  left: 0;
  -webkit-transform: translateY(2px) translateX(50%);
          transform: translateY(2px) translateX(50%);
}

.navigation ul li a:hover {
  color: #2bbc89;
}

.navigation ul li a:hover::before {
  -webkit-transform: translateY(4px) translateX(-100%);
          transform: translateY(4px) translateX(-100%);
}

.navigation ul li a:hover::after {
  -webkit-transform: translateY(4px) translateX(100%);
          transform: translateY(4px) translateX(100%);
}

.navigation.active {
  width: 30%;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #48cae4;
  -webkit-clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
          clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
  z-index: -1;
}

.main {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "banner image";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .banner {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: banner;
  padding: 2em 4em;
}

.main .banner h1 {
  font-size: 4.8rem;
  color: #040404;
}

.main .banner h1 span {
  color: #06bee1;
}

.main .banner p {
  font-size: 2.8rem;
  color: #040404;
  text-align: justify;
  margin-bottom: 2em;
}

.main .banner a {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #48cae4;
  color: #3f2d2d;
  padding: 1em 2em;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.main .banner a::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -75px;
  width: 40px;
  height: 155px;
  background: white;
  opacity: 0.2;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}

.main .banner a:hover::after {
  left: 120%;
  -webkit-transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
}

.main .lottie {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: image;
}

.skills {
  width: 90%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.skills .skill-card {
  border-radius: 10px;
  padding: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
          transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .skill-card .logo {
  width: 20%;
  margin-right: 2rem;
}

.skills .skill-card .logo img {
  width: 100%;
}

.skills .skill-card .info {
  width: 80%;
}

.skills .skill-card .info h5 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-right: 10px;
  position: relative;
  color: #040404;
}

.skills .skill-card .info h5::before, .skills .skill-card .info h5::after {
  content: "";
  position: absolute;
  top: 3.4rem;
  left: 0;
  width: 100%;
  height: 2.4rem;
  -webkit-box-shadow: 0px 0px 4px -1px #0c4854;
          box-shadow: 0px 0px 4px -1px #0c4854;
  border-radius: 8px;
}

.skills .skill-card .info h5::after {
  left: -0.1rem;
  width: calc(1% * var(--p));
  background: -webkit-gradient(linear, left top, right top, from(#346ac9), to(#2bbc89));
  background: linear-gradient(90deg, #346ac9 0%, #2bbc89 100%);
}

.skills .skill-card .info h5 span {
  position: absolute;
  top: 20%;
  margin-left: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9d9d9d;
}

.skills .skill-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner-works {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-clip-path 2s ease;
  transition: -webkit-clip-path 2s ease;
  transition: clip-path 2s ease;
  transition: clip-path 2s ease, -webkit-clip-path 2s ease;
}

.banner-works h1 {
  position: relative;
  font-size: 9.6rem;
  color: #d9e5f5;
  -webkit-box-shadow: 0px 27px 18px -18px #0c4854;
          box-shadow: 0px 27px 18px -18px #0c4854;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.banner-works h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: #d9e5f5;
  border-radius: 4px;
}

.banner-works h1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner-works::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  background-color: #2bbc89;
  border-radius: 15px;
  -webkit-clip-path: circle(25%);
          clip-path: circle(25%);
  -webkit-transition: -webkit-clip-path 2.5s;
  transition: -webkit-clip-path 2.5s;
  transition: clip-path 2.5s;
  transition: clip-path 2.5s, -webkit-clip-path 2.5s;
}

.banner-works:hover::before {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project .title h2 {
  position: relative;
  text-align: center;
  font-size: 3.6rem;
  color: #040404;
}

.project .title h2::before, .project .title h2::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  background-color: #040404;
  border-radius: 2px;
}

.project .title h2::before {
  bottom: 0;
}

.project .title h2::after {
  bottom: -10px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.project .pictures {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem auto;
}

.project .pictures img {
  width: 30%;
  border-radius: 4px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project .pictures img:nth-child(2) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project .info {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .info .description {
  width: 75%;
}

.project .info .description p {
  font-size: 1.8rem;
  text-align: justify;
}

.project .info .description p:nth-child(1) span {
  color: #9d9d9d;
}

.project .info .description a {
  display: block;
  width: 50%;
  height: 4rem;
  border-radius: 5px;
  background-color: #2bbc89;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #d9e5f5;
}

.project .info .tools {
  width: 20%;
}

.project .info .tools h3 {
  font-size: 3.2rem;
}

.project .info .tools ul {
  background-color: #d9e5f5;
  border-radius: 10px;
  padding: 1rem 2rem;
  list-style: none;
}

.project .info .tools ul li {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project .info .tools ul li::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #2bbc89;
  border-radius: 50%;
  margin-right: 1rem;
}

.project .info .tools ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=main.css.map */