@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --red: #fd2121;
  --ComplementaryA: #fd5821;
  --ComplementaryB: #fd218f;
  --ComplementaryC: #21fd21;
  --background: #3e3e3e;
  --white: #f2f2f2;
}

html {
  width: 100%;
  height: 100vh;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #3e3e3e;
}

main {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding: 4rem 6rem;
}

header {
  width: 0%;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

/*--------------
      Menu
---------------- */
.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transition: 5.5s ease;
}

.nav-list {
  list-style: none;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

.nav-item {
  margin-top: 2em;
  transition: 0.3s;
}

.nav-item:last-child {
  margin-bottom: 1rem;
}

.nav-item:first-child {
  margin-top: none;
}

.nav-item a {
  position: relative;
  color: var(--ComplementaryA);
  border-bottom: 0.2rem solid var(--ComplementaryC);
}

.nav-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateX(-49%) translateY(2px);
  height: 2px;
  width: 100%;
  background-color: var(--background);
  overflow: hidden;
  transition: 0.3s ease;
}

.nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(2px) translateX(50%);
  height: 2px;
  width: 100%;
  background-color: var(--background);
  overflow: hidden;
  transition: 0.3s ease;
}

.nav-item:hover,
.nav-item:hover a {
  transform: scale(1.2);
  color: var(--ComplementaryC);
}

.nav-item a:hover:after {
  bottom: 0;
  left: 0;
  transform: translateY(2px) translateX(100%);
}

.nav-item a:hover::before {
  bottom: 0;
  left: 0;
  transform: translateY(2px) translateX(-100%);
}

.show-menu {
  width: 30%;
}

/* ------------------
      Hamburger     
--------------------- */
.hamburger-menu {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  height: 5rem;
  width: 5rem;
  z-index: 2000;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #3e3e3e;
  border-radius: 5px;
  padding: 1rem;
}

.bar {
  position: relative;
  width: 100%;
  height: 0.5rem;
  background-color: var(--ComplementaryA);
  border-radius: 4px;
}

.hamburger-menu:hover .bar::before {
  transform: translateY(-1rem);
}

.hamburger-menu:hover .bar::after {
  transform: translateY(1rem);
}

.bar::after,
.bar::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  transition: 0.3s ease;
}

.bar::before {
  transform: translateY(-1.2rem);
}

.bar::after {
  transform: translateY(1.2rem);
}

.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.active .bar::after,
.active:hover .bar::after {
  transform: rotate(45deg);
  background-color: var(--ComplementaryA);
}

.active .bar::before,
.active:hover .bar::before {
  transform: rotate(-45deg);
  background-color: var(--ComplementaryA);
}

.active:hover .bar::after,
.active:hover .bar::before {
  background-color: var(--ComplementaryC);
}

/* ============================
          Main container 
===============================*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/Assets/img/bg-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner {
  font-size: 4.8rem;
  color: var(--red);
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}

.banner span {
  color: var(--white);
  margin-bottom: 1.2rem;
  letter-spacing: 0.2rem;
}

.description {
  width: 50%;
  color: var(--white);
  font-size: 2.4rem;
  text-align: justify;
  letter-spacing: 0.1rem;
  margin-bottom: 4.8rem;
  text-shadow: 2px 2px var(--background);
}

.btn {
  width: 50%;
  background-color: var(--red);
  font-size: 2.4rem;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 15px;
  border: var(--red) 2px solid;
  padding: 1rem 1.5rem;
}

.btn:hover {
  background-color: var(--white);
  border: var(--red) 2px solid;
  color: var(--red);
}

/*=======================
      Skills section
========================= */
.skills {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(1fr, 2);
}

.skill-card {
  width: 50%;
}

.skill-card h5 {
  position: relative;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 100;
}

.skill-card h5::before,
.skill-card h5::after {
  content: "";
  position: absolute;
  top: 3.4rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: var(--background);
  border-radius: 4px;
}

.skill-card h5::after {
  left: -0.1rem;
  width: calc(1% * var(--p));
  background: rgb(253, 33, 143);
  background: linear-gradient(
    90deg,
    rgba(253, 33, 143, 1) 0%,
    rgba(253, 88, 33, 1) 100%
  );
}

/*=======================
      About section
========================= */
.about {
  background-image: url("/Assets/img/bg-about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title {
  font-size: 6.8rem;
  color: var(--white);
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px var(--background);
  position: relative;
  margin-left: 5em;
  transform: translateX(-30%);
  cursor: default;
}

.about-title:hover {
  color: var(--ComplementaryB);
}
.about-title:hover span {
  color: var(--white);
}

.about-title span {
  color: var(--ComplementaryB);
}

.about-title span:hover {
  color: var(--white);
}

.about-title::before,
.about-title::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 15rem;
  background-color: var(--ComplementaryB);
  border-radius: 5px;
}

.about-title::before {
  top: 8rem;
  left: 3.6rem;
}

.about-title::after {
  top: 10rem;
  left: 7.2rem;
}

.container-description {
  width: 100%;
  height: 100%;
}

.about-who {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4.8rem;
  margin-top: 5rem;
  color: var(--white);
}

.about-who::before,
.about-who::after {
  content: "";
  display: block;
  height: 4px;
  width: 30%;
}

.about-who::before {
  background: linear-gradient(
    to right,
    rgba(240, 240, 240, 0),
    var(--ComplementaryB)
  );
  margin-right: 4vh;
}

.about-who::after {
  background: linear-gradient(
    to left,
    rgba(240, 240, 240, 0),
    var(--ComplementaryB)
  );
  margin-left: 4vh;
}

.about-description {
  width: 95%;
  margin-top: 7rem;
  margin-left: 2.4rem;
  font-size: 2.4rem;
  color: var(--white);
  text-align: justify;
}

/* divider */
.divider {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 4.8rem;
  color: var(--white);
  text-shadow: 1px 1px 2px var(--ComplementaryB);
}

.divider::before {
  content: "";
  display: block;
  height: 4px;
  width: 30%;
}

.divider::before {
  background: linear-gradient(
    to right,
    rgba(240, 240, 240, 0),
    var(--ComplementaryA)
  );
  margin-right: 4vh;
}

/* To erase */
.hidden {
  display: none;
}
